body{
  background-color: lightskyblue;
}

h1 {
  font-family: 'DM Serif Display', serif;
   font-size: 5em;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
   text-align: center
}

table{
  border: 2px solid black;
  margin:auto;
  margin-top: 5%;
}
table td, table th{
  margin: 10px;
  padding:10px;
  margin-top: 5px;
  border: 1px solid black;
  text-align: center;

}